@{
    ViewBag.Title = "Nosotros";
}
<main aria-labelledby="Nosotros">
    <h2 id="Nosotros">@ViewBag.Title.</h2>
    

    <p>
        Mi nombres es Josselyn Quesada, estudiante de Ing Informática.
    </p>
    <p>
        Mini Bandidas es un nuevo proyecto personal de Minidonas, el cual inicialmente nació con la idea de poder ayudarme económicamente con mis estudios.
    </p>
    <p>
        Tengo planes a futuro de agregar más productos, por lo cual toda recomendación, crítica, así como buenos deseos son bienvenidos.
    </p>

    <address>
        <strong>WhatsApp:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Instagram:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</main>