@{
    ViewBag.Title = "MiniBandidas";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">MiniBandidas</h1>
       
        
    </section>

    <div class="row">
     
    </div>
</main>