@{
    ViewBag.Title = "Nosotros";
}
<main aria-labelledby="Nosotros">
    <h2 id="title">@ViewBag.Title</h2>
    <style>
        body {
            background-color: lightcoral;
        }
    </style >
        <p > Mi nombres es Josselyn Quesada, estudiante de Ing Informática. </p >
        <p > Mini Bandidas es un nuevo proyecto personal de Minidonas, el cual inicialmente nació con la idea de poder ayudarme económicamente con mis estudios. </p >
        <p > Tengo planes a futuro de agregar más productos, por lo cual toda recomendación, crítica, así como buenos deseos son bienvenidos. De antemano muchas gracias por el apoyo ❤️ </p >


        <address >
        <strong > WhatsApp:</strong >
        <img src="~/Imagenes/WA.png" alt="QR para WA" width="200" height="200" / >
        <strong > Instagram:</strong >
        <img src="~/Imagenes/Instagram.png" alt="QR para WA" width="200" height="200" / >
        </address >


        </main >
