
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<h2>Menú para gestion de recursos</h2>

<style>
    h2 {
        color: fuchsia;
        text-align: center;
    }

    body {
        background-color: lavender;
    }

    .btn-purple {
        background-color: purple;
        color: white;
        margin: 10px;
        text-align: center;
    }
</style>